/*<img src="img/logo.jpg" width="133" height="100" align="left">
<br><h1><p align="center"><font color=red> <a href="Colegamento.html">Banana Africana </a></font></p></h1>*/
/* table, th, td {border: 1px solid #ddd;border-collapse: collapse;}*/

html,body{height:100%;}
body{background: #bbb	;}
html{scroll-behavior: smooth;}
/*ul{display: flex;display: flex;justify-content: space-around;}*/


/*-------------------------
Header
-------------------------*/

.header{background: #fff;}
.header_menu{float:right;padding:10px;}
.header_menu_item{display: inline-block;border-radius: 23px;border-style:solid;border-width:3px;}
.header_menu_item a{color:#000;display: block;padding:25px;}
.header_menu_item a:hover{background: #bbb;border-radius: 20px;}



/*-------------------------
Cover
-------------------------*/

.cover{height:50%;/*border:1px solid red;*/

background-image: url("img/so.jpg");

background-size: cover;
-moz-background-size: cover;

/*background-position: center center;*/
position:relative;
}
.cover_filter{background:#000;width:100%;height:100%;position: absolute; opacity: 0.5;	}
.cover_caption{display: table; height:100%;width:100%;position: absolute; }
.cover_caption_copy{display: table-cell; vertical-align: middle;text-align: centr;color:#fff;}

/*-------------------------
Cards
-------------------------*/

.cards{ max-width: 1200px; margin: 40px auto;}
.card{ width: 47%; margin:0 1.5%; background:#fff;float:left;border-radius: 20px;}
.card_copy{padding:30px;}
.card_copy h3{margin-bottom:0}
.card_copy p1{margin-bottom:0; font-size: 12px;}
.card_copy link{margin-bottom:0}
.card_copy input{padding:5px;margin: 5px}
.card_copy a{color:#000;text-decoration: none;}

/*-------------------------
Cintura
-------------------------*/

.cintura{background:#fff;height:auto;margin: 100px ;border-radius: 30px;border:1px solid red;max-width: 50%;align: center}
.cintura_copy{width: 100%;float:left;height:70%;display: table;}
.cintura_copy_text{display: table-cell;vertical-align: middle;padding:30px;}
.cintura_copy_text h1{margin-bottom:0;font-size: 28px;padding-bottom: 30px;}
.cintura_copy_text h2{margin-bottom:0;font-size: 22px;}
.cintura_copy_text h3{margin-bottom:0;font-size: 18px;}

/*-------------------------
Striscia
-------------------------*/

.striscia{background:#fff;height:auto;margin: 40px;border-radius: 30px;}
.striscia_image{width: 30%;float:left;height:100%;
/*background-image: url("img/so.jpg");

background-size: cover;
-moz-background-size: cover;
background-position: center center;*/}
.striscia_copy{width: 70%;float:left;height:100%;display: table;}
.striscia_copy_text{display: table-cell;vertical-align: middle;padding:5px 30px;}
.striscia_copy_text h1{margin-bottom:0;font-size: 28px;}
.striscia_copy_text h2{margin-bottom:0;font-size: 22px;}
.striscia_copy_text h3{margin-bottom:0;font-size: 16px;}


/*-------------------------
Banner
-------------------------*/

.banner{background:#fff;height:25%;}
.banner_image{width: 30%;float:left;height:100%;
background-image: url("img/cervello.jpg");

background-size: cover;
-moz-background-size: cover;
background-position: center center;}
.banner_copy{width: 70%;float:left;height:70%;}
.banner_copy_text{vertical-align: middle;padding:5px 30px;}



.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
